<template>
  <div class="wrapper">
    <side-bar>
      <template slot="links">
        <sidebar-link
          to="/dashboard"
          :name="$t('sidebar.dashboard')"
          icon="tim-icons icon-chart-pie-36"
        />
        <sidebar-link
          to="/users"
          :name="$t('sidebar.users')"
          icon="tim-icons icon-single-02"
        />
        <sidebar-link
          to="/displayers"
          :name="$t('sidebar.displayers')"
          icon="tim-icons icon-tv-2"
        />
        <sidebar-link
          to="/applications"
          :name="$t('sidebar.applications')"
          icon="tim-icons icon-controller"
        />
        <sidebar-link
          to="/players"
          :name="$t('sidebar.players')"
          icon="tim-icons icon-user-run"
        />
        <sidebar-link
          to="/queue"
          :name="$t('sidebar.queue')"
          icon="tim-icons icon-bullet-list-67"
        />
        <sidebar-link
          to="/sessions"
          :name="$t('sidebar.sessions')"
          icon="tim-icons icon-world"
        />
        <sidebar-link
          to="/options"
          :name="$t('sidebar.options')"
          icon="tim-icons icon-settings-gear-63"
        />
      </template>
    </side-bar>
    <div class="main-panel">
      <top-navbar />

      <dashboard-content @click.native="toggleSidebar" />

      <content-footer />
    </div>
  </div>
</template>
<style lang="scss">
</style>
<script>
import TopNavbar from './TopNavbar.vue';
import ContentFooter from './ContentFooter.vue';
import DashboardContent from './Content.vue';
import MobileMenu from './MobileMenu';

export default {
    components: {
        TopNavbar,
        ContentFooter,
        DashboardContent,
        // eslint-disable-next-line vue/no-unused-components
        MobileMenu,
    },
    methods: {
        toggleSidebar() {
            if (this.$sidebar.showSidebar) {
                this.$sidebar.displaySidebar(false);
            }
        },
    },
};
</script>
