<template>
  <div>
    <md-dialog :md-active.sync="showDialog">
      <md-dialog-title>Change Value</md-dialog-title>

      <md-field>
        <label>value</label>
        <md-input v-model="value" />
      </md-field>

      <md-dialog-actions>
        <md-button
          class="md-primary"
          @click="closeDialog"
        >
          Close
        </md-button>
        <md-button
          class="md-primary"
          @click="changeValue"
        >
          Update
        </md-button>
      </md-dialog-actions>
    </md-dialog>

    <div class="row">
      <div class="col-12">
        <card :title="table1.title">
          <div class="table-responsive">
            <BaseTableOptions
              :data="table1.data"
              :columns="table1.columns"
              thead-classes="text-primary"
              @edit="editOption"
              @show="showOption"
            />
          </div>
        </card>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable vue/no-unused-components, no-console */
import BaseTableOptions from '@/components/BaseTableOptions';
import Modal from '@/components/Modal';
import NotificationTemplate from '@/pages/Notifications/NotificationTemplate';
import { BaseAlert } from '@/components';
import 'vue-material/dist/vue-material.min.css';
import userService from '@/helpers/user.services';

const tableColumns = ['id', 'value', 'description'];

const tableData = [];

export default {
    components: {
        BaseTableOptions,
        Modal,
        BaseAlert,
        NotificationTemplate,
    },

    data() {
        return {
            table1: {
                title: 'Options',
                columns: [...tableColumns],
                data: [...tableData],
            },
            showDialog: false,
            value: '',
            selectedOption: {},
        };
    },
    beforeMount() {
        this.loadElement();
    },

    methods: {

        closeDialog() {
            this.showDialog = false;
            this.value = '';
        },

        changeValue() {
            this.selectedOption.value = this.value;
            this.closeDialog();

            console.log(this.selectedOption.id);
            console.log(this.selectedOption.value);

            userService
                .patchOption(this.selectedOption.id, this.selectedOption.value)
                .then((val) => {
                    console.log(val);
                    // this.table1.data = val;
                });
        },

        editOption(option) {
            console.log(option);
            this.value = option.value;
            this.selectedOption = option;
            this.showDialog = true;
        },

        showOption(option) {
            console.log(option);
        },

        loadElement() {
            userService
                .getOptions()
                .then(res => res.json())
                .then((val) => {
                    console.log(val);
                    this.table1.data = val;
                });
        },

    },
};
</script>

<style lang="scss" scoped>
.md-dialog {
  padding: 30px;
  max-width: 80%;
  min-width: 50%;
  max-height: 500px;
}
</style>
