<template>
  <div>
    <div
      class="root-container"
    >
      <div
        id="menu"
        class="toolbar d-flex justify-content-between align-items-center p-4"
      >
        <b-button
          variant="secondary"
          @click="home"
        >
          <font-awesome-icon icon="home" />
        </b-button>
        <div class="d-flex buttons">
          <div @click="$emit('clear')">
            <toolbar-button
              icon="trash"
              class="ml-2"
            />
          </div>
          <div @click="$emit('remove-last')">
            <toolbar-button
              icon="undo"
              class="ml-2"
            />
          </div>
          <size-picker
            class="ml-2"
            :default-size="10"
          />
          <color-picker
            id="1"
            title="Couleur du pinceau"
            class="ml-2"
            icon="palette"
            init="#fff49e"
            @color="changeColor"
          />
          <color-picker
            id="2"
            title="Couleur du fond"
            class="ml-2"
            icon="fill"
            init="#30234e"
            @color="changeBG"
          />
        </div>
      </div>
      <toile />
    </div>
  </div>
</template>

<script>
import toolbarButton from '../components/Button.vue';
import colorPicker from '../components/ColorPicker.vue';
import sizePicker from '../components/SizePicker.vue';
import toile from '../components/Toile.vue';

export default {
    components: {
        toolbarButton,
        colorPicker,
        sizePicker,
        toile,
    },
    methods: {
        clear() {
            this.changeColor('#123456');
        },
        changeColor(color) {
            this.$store.commit('color', color);
        },
        changeBG(bg) {
            this.$store.commit('background', bg);
        },
        home() {
            const url = `${process.env.VUE_APP_PROTOCOL}//${process.env.VUE_APP_PLAY_HOSTNAME}:${process.env.VUE_APP_PLAY_PORT}`;

            window.location = url;
        },
    },
};
</script>

<style lang="scss" scoped>
    body {
      /* Disables pull-to-refresh but allows overscroll glow effects. */
      overscroll-behavior-y: contain;
      background-color: black !important;
    }

    .root-container {
        background: black;

        .toolbar {
            box-sizing: border-box;
            background: #eee;

            .buttons {
                height:2.5em;
            }
        }
    }
</style>
