<template>
  <div>
    <div class="queue d-flex flex-column align-items-center justify-content-center">
      <queue-animation
        :image="application.logo"
      />
      <div class="text-center text-white">
        <h3 class="mb-3">
          {{ application.name }}
        </h3>
        <p class="mb-3">
          Position dans la file: {{ pos }} sur {{ total }}
        </p>
        <p class="mb-0">
          <b-button
            variant="light"
            @click="home"
          >
            <font-awesome-icon icon="home" /> Retour au menu
          </b-button>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import queueAnimation from '../components/QueueAnimation.vue';
import playerApi from '../player-api';

export default {
    components: {
        queueAnimation,
    },
    data() {
        return {
            pos: 0,
            total: 0,
        };
    },
    computed: {
        application() {
            return this.$store.state.application;
        },
    },
    mounted() {
        Promise.all([
            playerApi.onDisconnect(() => {
                const url = `${process.env.VUE_APP_PROTOCOL}//${process.env.VUE_APP_PLAY_HOSTNAME}:${process.env.VUE_APP_PLAY_PORT}`;

                window.location = url;
            }),

            playerApi.onSessionReady((data) => {
                const {
                    displayerWidth,
                    displayerHeight,
                } = data;

                this.$store.commit('setDisplayerDimensions', {
                    displayerWidth,
                    displayerHeight,
                });

                playerApi.emitPlayerReady();
            }),

            playerApi.onSessionGo(() => {
                this.$router.push({ name: 'drawing' });
            }),

            playerApi.onSessionEnd(() => {
                const url = `${process.env.VUE_APP_PROTOCOL}//${process.env.VUE_APP_PLAY_HOSTNAME}:${process.env.VUE_APP_PLAY_PORT}`;

                window.location = url;
            }),

            playerApi.onMessage(({ title, level, content }) => {
                const message = `<b>${title}</b><br/>${content}`;

                if (level === 'info') {
                    this.$toasted.info(message);
                } else {
                    this.$toasted.error(message);
                }
            }),

            playerApi.onQueue(({ queuePosition, queueTotal }) => {
                this.pos = queuePosition;
                this.total = queueTotal;
            }),
        ])
            .then(() => {
                const { jwt } = this.$route.query;

                if (jwt != null) {
                    this.$store.commit('setJwt', jwt);

                    const url = `${process.env.VUE_APP_PROTOCOL}//${process.env.VUE_APP_API_HOSTNAME}:${process.env.VUE_APP_API_PORT}/players`;

                    playerApi.connect(url, jwt);
                } else {
                    const url = `${process.env.VUE_APP_PROTOCOL}//${process.env.VUE_APP_PLAY_HOSTNAME}:${process.env.VUE_APP_PLAY_PORT}`;

                    window.location = url;
                }
            });
    },
    methods: {
        home() {
            const url = `${process.env.VUE_APP_PROTOCOL}//${process.env.VUE_APP_PLAY_HOSTNAME}:${process.env.VUE_APP_PLAY_PORT}`;

            window.location = url;
        },
    },
};
</script>

<style scoped lang="scss">
    @import "../assets/scss/variables";

    .queue {
        width:100%;
        min-height:100vh;
        background: $darkblue;
    }

    body {
      /* Disables pull-to-refresh but allows overscroll glow effects. */
      overscroll-behavior-y: contain;
      background-color: black !important;
    }
</style>
