<template>
  <card>
    <h5
      slot="header"
      class="title"
    >
      Create Displayer
    </h5>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input
          v-model="displayer.name"
          label="Name"
          placeholder="Name"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input
          v-model="displayer.location"
          label="Location"
          placeholder="Location"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input
          v-model.number="displayer.width"
          type="number"
          label="Width"
          placeholder="Width"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input
          v-model.number="displayer.height"
          type="number"
          label="Height"
          placeholder="Height"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input
          v-model="displayer.password"
          type="password"
          label="Password"
          placeholder="Password"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input
          v-model="confirmPassword"
          type="password"
          label="Confirm Password"
          placeholder="Confirm password"
        />
      </div>
    </div>

    <base-button
      slot="footer"
      style="margin-right : 5px;"
      type="primary"
      fill
      @click="create()"
    >
      Create
    </base-button>
    <base-button
      slot="footer"
      type="primary"
      fill
      @click="cancel()"
    >
      Cancel
    </base-button>
  </card>
</template>
<script>
export default {

    props: {
    },
    data() {
        return {
            displayer: {
                name: '', width: 0, height: 0, location: '', password: '',
            },
            confirmPassword: '',
        };
    },
    methods: {
        create() {
            if (
                this.displayer.name !== ''
                && this.displayer.location !== ''
                && this.displayer.width !== 0
                && this.displayer.height !== 0
                && this.displayer.password !== ''
                && this.confirmPassword !== ''
            ) {
                if (this.displayer.password === this.confirmPassword) {
                    // Return the new displayer

                    this.$emit('create', this.displayer);
                } else {
                    // eslint-disable-next-line no-alert
                    alert('Password must be the same');
                }
            } else {
                // eslint-disable-next-line no-alert
                alert('Field must not be null');
            }
        },

        cancel() {
            this.$emit('cancel', this.displayer);
        },
    },
};
</script>
<style>
</style>
