<template>
  <card>
    <h5
      slot="header"
      class="title"
    >
      Edit Displayer
    </h5>
    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input
          v-model.number="displayer.width"
          label="Width"
          placeholder="Width"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input
          v-model.number="displayer.height"
          label="Height"
          placeholder="Height"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input
          v-model="displayer.status"
          label="Status"
          placeholder="active/inactive/banned"
        />
      </div>
    </div>

    <base-button
      slot="footer"
      style="margin-right : 5px;"
      type="primary"
      fill
      @click="update()"
    >
      Update
    </base-button>
    <base-button
      slot="footer"
      type="primary"
      fill
      @click="cancel()"
    >
      Cancel
    </base-button>
  </card>
</template>
<script>
/* eslint-disable no-console, no-alert, no-restricted-globals */

export default {
    props: {
        displayer: {
            type: Object,
            default: () => ({}),
        },
    },
    methods: {
        update() {
            if (
                this.displayer.name !== ''
        && this.displayer.location !== ''
        && this.displayer.width !== 0
        && this.displayer.height !== 0
            ) {
                if (
                    this.displayer.status === 'active'
          || this.displayer.status === 'inactive'
          || this.displayer.status === 'banned'
                ) {
                    // Return the new displayer
                    this.$emit('update', this.displayer);
                } else {
                    alert('Incorrect Status');
                }
            } else {
                alert('Field must not be null');
            }
        },

        cancel() {
            this.$emit('cancel', this.displayer);
        },
    },
};
</script>
<style>
</style>
