<template>
  <div style="height:2.5em;">
    <div
      class="toolbar-btn d-flex align-items-center justify-content-center"
      :style="{ backgroundColor: background, width }"
    >
      <slot>
        <i
          class="fas"
          :class="[ 'fa-' + icon ]"
          :style="{ color }"
        />
      </slot>
    </div>
  </div>
</template>

<script>
export default {
    props: {
        icon: {
            type: String,
            default: '',
        },
        width: {
            type: String,
            default: () => '2.5em',
        },
        color: {
            type: String,
            default: () => 'white',
        },
        background: {
            type: String,
            default: () => '#F0504F',
        },
    },
};
</script>

<style scoped lang="scss">
    .toolbar-btn {
        border-radius:100px;
        height:2.5em;
        width:2.5em;
        cursor:pointer;
        box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    }
</style>
