<template>
  <div>
    <label :for="itemId">
      <toolbar-btn
        v-b-modal="itemId"
        :icon="icon"
        :background="color"
        :color="iconColor"
      />
    </label>
    <b-modal
      :id="itemId"
      v-model="show"
      ok-only
      :title="title"
    >
      <chrome-picker
        v-model="color"
        class="center"
        @input="updateValue"
      />
      <div
        slot="modal-footer"
        class="w-100"
      >
        <b-button
          size="sm"
          class="float-right btn-block"
          variant="primary"
          @click="show=false"
        >
          Fermer
        </b-button>
      </div>
    </b-modal>
  </div>
</template>

<script>
/* eslint-disable no-bitwise, no-mixed-operators, prefer-destructuring */

import toolbarBtn from './Button.vue';

export default {
    components: {
        toolbarBtn,
    },
    props: {
        icon: {
            type: String,
            default: '',
        },
        title: {
            type: String,
            default: 'Pick a color',
        },
        init: {
            type: String,
            default: '#000000',
        },
        id: {
            type: String,
            default: '',
        },
    },
    data() {
        return {
            color: '#000000',
            show: false,
        };
    },
    computed: {
        itemId() {
            return `picker-${this.id}`;
        },
        iconColor() {
            return this.checkColor === 'dark' ? 'white' : 'black';
        },
        checkColor() {
            let { color } = this;

            // Variables for red, green, blue values
            let r;
            let g;
            let b;

            // Check the format of the color, HEX or RGB?
            if (color.match(/^rgb/)) {
                // If HEX --> store the red, green, blue values in separate variables
                color = color.match(/^rgba?\((\d+),\s*(\d+),\s*(\d+)(?:,\s*(\d+(?:\.\d+)?))?\)$/);

                r = color[1];
                g = color[2];
                b = color[3];
            } else {
                // If RGB --> Convert it to HEX: http://gist.github.com/983661
                color = +(`0x${color.slice(1).replace(
                    color.length < 5 && /./g, '$&$&',
                )}`);

                r = color >> 16;
                g = color >> 8 & 255;
                b = color & 255;
            }

            // HSP (Highly Sensitive Poo) equation from http://alienryderflex.com/hsp.html
            const hsp = Math.sqrt(
                0.299 * (r * r)
                + 0.587 * (g * g)
                + 0.114 * (b * b),
            );

            // Using the HSP value, determine whether the color is light or dark
            if (hsp > 127.5) {
                return 'light';
            }

            return 'dark';
        },
    },
    watch: {
        color(color) {
            this.$emit('color', color);
        },
    },
    mounted() {
        this.color = this.init;

        this.$parent.$on('clear', () => {
            this.color = this.init;
        });
    },
    methods: {
        updateValue(color) {
            this.color = color.hex;
        },
    },
};
</script>

<style scoped>
    .center {
        margin-left: auto;
        margin-right: auto;
    }
</style>
