<template>
  <div>
    <div
      ref="btn"
      @click="active = true"
    >
      <toolbar-btn
        icon="paint-brush"
        style="position:relative;z-index:15;"
      >
        <div class="d-flex align-items-center justify-content-center">
          <span
            class="indicator"
            :style="{width: size + 'px', height: size + 'px'}"
          />
        </div>
      </toolbar-btn>
      <transition name="fade">
        <div
          v-if="active"
          class="size-slider p-3"
        >
          <vue-slider
            v-model="size"
            direction="vertical"
            :width="3"
            :height="160"
            :min="1"
            :max="50"
            :interval="1"
            :tooltip="false"
          />
          <div class="d-flex justify-content-center">
            {{ size }}
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import VueSlider from 'vue-slider-component';
import toolbarBtn from './Button.vue';

export default {
    components: {
        VueSlider,
        toolbarBtn,
    },
    props: {
        defaultSize: {
            type: Number,
            default: 5,
        },
    },
    data() {
        return {
            size: this.defaultSize,
            active: false,
        };
    },
    watch: {
        size() {
            this.$store.commit('size', this.size);
        },
    },
    mounted() {
        const { btn } = this.$refs;
        window.addEventListener('click', (e) => {
            if (!btn.contains(e.target)) this.active = false;
        });
    },
};
</script>

<style scoped lang="scss">
    .indic-text {
        font-size:0.8rem;
    }

    .indicator {
        background:white;
        border-radius:100px;
    }

    .size-slider {
        position:absolute;
        margin-left:2px;
        z-index:10;
        margin-top:10px;
        background:white;
        box-shadow:0 0 5px rgba(0,0,0,0.3);
        border-radius:5px;
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .3s, margin-top .3s;
        opacity:1;
        margin-top:0.5em;
    }
    .fade-enter, .fade-leave-to {
        opacity: 0;
        margin-top:-2em;
    }
</style>
