<template>
  <div>
    <div
      id="toile-container"
      class="toile-container"
    >
      <div class="d-flex justify-content-center">
        <canvas
          ref="toile"
          class="toile"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { fabric } from 'fabric';
import dimensionsMixin from '../mixins/DimensionsMixin';

export default {
    mixins: [dimensionsMixin],
    data() {
        return {
            toile: null,
            down: false,
        };
    },
    computed: {
        storeColor() { return this.$store.state.color; },
        storeSize() { return this.$store.state.size; },
        storeBackground() { return this.$store.state.background; },
    },
    watch: {
        storeColor(color) { this.setColor(color); },
        storeSize(size) { this.setSize(size); },
        storeBackground(background) { this.setBackground(background); },
    },
    mounted() {
        const menu = document.getElementById('menu');

        let canvasWidth = window.innerWidth;
        let canvasHeight = window.innerHeight - menu.clientHeight;

        const {
            displayerWidth,
        } = this.$store.state;

        if (canvasWidth < canvasHeight) {
            canvasHeight = canvasWidth;
        } else {
            canvasWidth = canvasHeight;
        }

        this.toile = new fabric.Canvas(this.$refs.toile, {
            isDrawingMode: true,
            width: canvasWidth,
            height: canvasHeight,
        });

        const ratio = canvasWidth / displayerWidth;
        this.toile.setZoom(ratio);

        // Register fabric events
        this.toile.on('mouse:down', (event) => {
            const { x, y } = event.absolutePointer;
            if (!this.down) this.send('mouse', { action: 'down', x, y });
            this.down = true;
        });

        this.toile.on('mouse:up', (event) => {
            const { x, y } = event.absolutePointer;
            if (this.down) this.send('mouse', { action: 'up', x, y });
            this.down = false;
        });

        this.toile.on('mouse:move', (event) => {
            if (!this.down) return;
            // retrieve position
            const { x, y } = event.absolutePointer;
            this.send('point', { x, y });
        });

        this.$parent.$on('clear', () => {
            this.toile.clear();
            this.send('clear');
        });

        this.$parent.$on('remove-last', () => {
            this.toile.remove(this.toile.getObjects().slice(-1)[0]);
            this.send('remove-last');
        });
    },
    methods: {
        setColor(color) {
            this.send('color', { color });
            this.toile.freeDrawingBrush.color = color;
        },
        setSize(size) {
            this.send('size', { size });
            this.toile.freeDrawingBrush.width = size;
        },
        setBackground(background) {
            this.toile.setBackgroundColor(background);
            this.toile.renderAll();
            this.send('background', { background });
        },
        send(name, payload) {
            if (payload === undefined) {
                // eslint-disable-next-line no-param-reassign
                payload = null;
            }

            this.playerApi.emitPlayerData({ name, payload });
        },
    },
};
</script>

<style scoped lang="scss">
    .toile-container {
        background:black;

        .toile {
            background:white;
        }
    }
</style>
