<template>
  <!--<fade-transition>-->
  <div
    id="displayer"
    class="col-lg-4"
  >
    <!--v-if="visible"-->
    <card>
      <h5 class="card-category">
        Displayer {{ displayer.name }}
      </h5>

      <div class="displayerInfo row">
        <p>{{ displayer.location }}</p>
      </div>

      <div
        v-if="visibleScreenData"
        class="displayerScreen row"
      >
        <p>screen</p>
      </div>

      <div class="displayerBtn row">
        <!--<div v-if="displayer.status=='enabled'">
          <base-button
            :disabled="this.$store.getters.getUser.role !== 'admin'"
            @click="startDisplayer()"
            size="sm"
            class="tim-icons icon-triangle-right-17"
            slot="footer"
            type="success"
            fill
          ></base-button>
        </div>
        <div v-else>
          <base-button
            :disabled="this.$store.getters.getUser.role !== 'admin'"
            @click="startDisplayer()"
            size="sm"
            class="tim-icons icon-triangle-right-17"
            slot="footer"
            type="warning"
            fill
          ></base-button>
        </div>-->

        <div>
          <base-button
            slot="footer"
            :disabled="!(this.$store.getters.getUser.role === 'admin' ||
              this.$store.getters.getUser.role === 'moderator' )"
            size="sm"
            class="tim-icons icon-pencil"
            type="primary"
            fill
            @click="editDisplayer()"
          />
        </div>
        <div>
          <base-button
            slot="footer"
            size="sm"
            class="tim-icons icon-tv-2"
            type="primary"
            fill
            @click="seeScreen()"
          />
        </div>
        <div>
          <base-button
            slot="footer"
            :disabled="!(this.$store.getters.getUser.role === 'admin' ||
              this.$store.getters.getUser.role === 'moderator' )"
            size="sm"
            class="tim-icons icon-trash-simple"
            type="primary"
            fill
            @click="deleteDisplayer()"
          />
        </div>

        <div>
          <base-button
            slot="footer"
            :disabled="!(this.$store.getters.getUser.role === 'admin' ||
              this.$store.getters.getUser.role === 'moderator' )"
            size="sm"
            class="tim-icons icon-bell-55"
            type="primary"
            fill
            @click="kickPlayer()"
          />
        </div>
        <div>
          <base-button
            slot="footer"
            :disabled="!(this.$store.getters.getUser.role === 'admin' ||
              this.$store.getters.getUser.role === 'moderator' )"
            size="sm"
            class="tim-icons icon-chat-33"
            type="primary"
            fill
            @click="sendMessage()"
          />
        </div>
      </div>
    </card>
  </div>
  <!--</fade-transition>-->
</template>
<script>
/* eslint-disable no-console */
import { FadeTransition } from 'vue2-transitions';

export default {
    name: 'DisplayerCard',
    components: {
        // eslint-disable-next-line vue/no-unused-components
        FadeTransition,
    },
    props: {
        displayer: {
            type: Object,
            default: () => {},
        },
    },
    data() {
        return {
            // visible: true,
            visibleScreenData: this.visibleScreen,
            // displayerState: true
        };
    },
    watch: {
        visibleScreen(val) {
            this.visibleScreenData = val;
        },
    },
    methods: {
        deleteDisplayer() {
            this.$emit('delete');
        },

        seeScreen() {
            this.visibleScreenData = !this.visibleScreenData;
        },

        startDisplayer() {
            this.displayer.status = (this.displayer.status === 'enabled' ? 'disabled' : 'enabled');
        },

        editDisplayer() {
            this.$emit('edit');
        },

        kickPlayer() {
            console.log('Child - kickPlayer');
            console.log(this.visibleScreenData);
        },
        sendMessage() {
            console.log('send Message');
            this.$emit('send');
        },
    },
};
</script>

<style>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
