<template>
  <div>
    <div class="container">
      <form @submit.prevent="submit">
        <label for="id">
          Displayer ID
        </label>
        <input
          id="id"
          v-model="id"
          type="text"
          placeholder="Displayer ID"
        >
        <label for="name">
          Displayer name
        </label>
        <input
          id="name"
          v-model="name"
          type="text"
          placeholder="Displayer name"
        >
        <label for="location">
          Displayer location
        </label>
        <input
          id="location"
          v-model="location"
          type="text"
          placeholder="Location"
        >
        <label for="password">
          Password
        </label>
        <input
          id="password"
          v-model="password"
          type="text"
          placeholder="Password"
        >
        <label for="width">
          Width
        </label>
        <input
          id="width"
          v-model="width"
          type="number"
          placeholder="Width"
        >
        <label for="height">
          Height
        </label>
        <input
          id="height"
          v-model="height"
          type="number"
          placeholder="Height"
        >
        <button type="submit">
          Submit
        </button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
    data() {
        return {
            id: 'id-test',
            name: 'name-test',
            location: 'location-test',
            password: 'password-test',
            width: window.innerWidth,
            height: window.innerHeight,
        };
    },
    methods: {
        submit() {
            this.$store.commit('saveConfig', {
                id: this.id,
                name: this.name,
                location: this.location,
                password: this.password,
                width: this.width,
                height: this.height,
            });

            this.$store.dispatch('getJwt')
                .then(() => {
                    this.$router.push({ name: 'displayer' });
                });
        },
    },
};
</script>

<style scoped lang="scss">
    .container {
        width:100%;
        display:flex;
        justify-content: center;

        form {
            display:flex;
            flex-direction:column;

            div {
                margin-bottom:0.5rem;
            }

            input {
                padding:0.2rem 0.5rem;
                border-radius:4px;
                border: 1px solid #919191;
            }
        }
    }
</style>
