<template>
  <div>
    <video
      id="video"
      class="displayer"
    />
  </div>
</template>

<script>
import peerServer from '../peerServer';
import displayerApi from '../displayer-api';

export default {
    data() {
        return {
            call: null,
        };
    },
    mounted() {
        const video = document.getElementById('video');

        displayerApi.onSessionReady(() => {
            // eslint-disable-next-line no-console
            console.log('READY');
            displayerApi.emitDisplayerReady();
        });

        displayerApi.onSessionGo(() => {
            // eslint-disable-next-line no-console
            console.log('GO');
        });

        displayerApi.onSessionEnd(() => {
            // eslint-disable-next-line no-console
            console.log('END');
            this.close();
        });

        this.$store.dispatch('connectSocket')
            .then(() => this.$store.dispatch('connectPeer'))
            .then(() => {
                peerServer.onCall((call) => {
                    this.call = call;

                    // eslint-disable-next-line no-console
                    console.log('onCall message');

                    // eslint-disable-next-line no-console
                    console.log(this.call);

                    this.call.answer();

                    this.peerPlayerId = this.call.peer;

                    this.call.on('stream', (remoteStream) => {
                        video.srcObject = remoteStream;

                        // eslint-disable-next-line no-console
                        console.log('onStream message');

                        // eslint-disable-next-line no-console
                        console.log(remoteStream);

                        video.onloadedmetadata = () => {
                            // eslint-disable-next-line no-console
                            console.log('Video should be playing');
                            video.play();
                        };
                    });

                    this.call.on('close', (err) => {
                        // eslint-disable-next-line no-console
                        console.log('onClose message');

                        // eslint-disable-next-line no-console
                        console.log(err);

                        this.close();
                    });

                    this.call.on('error', (err) => {
                        // eslint-disable-next-line no-console
                        console.log('onError message');

                        // eslint-disable-next-line no-console
                        console.log(err);

                        this.close();
                    });
                });
            })
            .catch(() => {
                // eslint-disable-next-line no-alert
                alert('Cannot connect to server.');
                this.$router.push({ name: 'config' });
            });
    },
    methods: {
        close() {
            if (this.call != null) {
                this.call.close();
                this.call = null;
            }
        },
    },
};
</script>

<style lang="scss">
    .displayer {
        background: black;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
