<template>
  <div>
    <b-card
      :title="application.name"
      :img-src="application.logo"
      :img-alt="application.name"
      img-top
      tag="article"
      class="mb-2 text-center"
    >
      <b-card-text
        class="text-justify"
      >
        {{ application.description }}
      </b-card-text>

      <b-button
        v-b-modal.details
        block
        variant="primary"
      >
        Détails
      </b-button>

      <b-button
        block
        variant="primary"
        @click="play"
      >
        Jouer
      </b-button>
    </b-card>
    <b-modal
      id="details"
      v-model="show"
      ok-only
      title="Détails"
    >
      <p>
        <strong>Nom</strong><br>
        {{ application.name }}
      </p>

      <p>
        <strong>Description</strong><br>
        {{ application.description }}
      </p>

      <p>
        <strong>Documentation</strong><br>
        <b-link :href="application.documentation">
          {{ application.documentation }}
        </b-link>
      </p>

      <p>
        <strong>Version</strong><br>
        {{ application.version }}
      </p>

      <p>
        <strong>Auteurs</strong><br>
        <ul
          v-for="author in application.authors"
          :key="author.name"
          style="list-style-type:none;"
        >
          <li>{{ author.name }}</li>
          <ul
            style="list-style-type: '-  ';"
          >
            <li v-if="author.email">
              Email: {{ author.email }}
            </li>
            <li v-if="author.homepage">
              Site officiel:
              <b-link :href="author.homepage">
                {{ author.homepage }}
              </b-link>
            </li>
          </ul>
        </ul>
      </p>

      <div
        slot="modal-footer"
        class="w-100"
      >
        <b-button
          size="sm"
          class="float-right btn-block"
          variant="primary"
          @click="show=false"
        >
          Fermer
        </b-button>
      </div>
    </b-modal>
  </div>
</template>

<script>
export default {
    props: {
        application: {
            type: Object,
            default: Object,
        },
    },
    data() {
        return {
            show: false,
        };
    },
    methods: {
        play() {
            fetch(`${this.$store.getters.serverUrl}/play`, {
                method: 'POST',
                headers: { 'content-type': 'application/json' },
                body: JSON.stringify({
                    applicationId: this.application.id,
                }),
            })
                .then(res => res.json())
                .then((data) => {
                    const { jwt } = data;

                    window.location = `${this.application.homepage}?jwt=${jwt}`;
                });
        },
    },
};
</script>
<style>
</style>
