<template>
  <div>
    <card>
      <h5
        id="player"
        slot="header"
        class="title"
      >
        Player
      </h5>

      <div class="row">
        <div class="col-md-8 pm-md-1">
          <base-input
            label="Username"
            placeholder="Username"
            :value="player.username"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 pm-md-1">
          <base-input
            label="Status"
            placeholder="active/inactive/banned"
            :value="player.status"
          />
        </div>
      </div>
    </card>

    <card>
      <h5
        id="player"
        slot="header"
        class="title"
      >
        Application
      </h5>

      <!--<div class="row">
        <div class="col-md-8 pm-md-1">
            <base-input label="Id"
                  placeholder="Id"
                  :value="application.id">
            </base-input>
        </div>
      </div>-->

      <div class="row">
        <div class="col-md-8 pm-md-1">
          <base-input
            label="Name"
            placeholder="Name"
            :value="application.name"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 pm-md-1">
          <base-input
            label="description"
            placeholder="description"
            :value="application.description"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 pm-md-1">
          <base-input
            label="logo"
            placeholder="logo"
            :value="application.logo"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 pm-md-1">
          <base-input
            label="homepage"
            placeholder="homepage"
            :value="application.homepage"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 pm-md-1">
          <base-input
            label="authors"
            placeholder="authors"
            value=""
          />
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 pm-md-1">
          <base-input
            label="version"
            placeholder="version"
            :value="application.version"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 pm-md-1">
          <base-input
            label="status"
            placeholder="active/inactive/banned"
            :value="application.status"
          />
        </div>
      </div>
    </card>

    <card>
      <h5
        id="player"
        slot="header"
        class="title"
      >
        Displayer
      </h5>

      <div class="row">
        <div class="col-md-8 pm-md-1">
          <base-input
            label="Name"
            placeholder="Name"
            :value="displayer.name"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 pm-md-1">
          <base-input
            label="Location"
            placeholder="Location"
            :value="displayer.location"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 pm-md-1">
          <base-input
            label="Width"
            placeholder="Width"
            :value="displayer.width"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 pm-md-1">
          <base-input
            label="Height"
            placeholder="Height"
            :value="displayer.height"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 pm-md-1">
          <base-input
            label="Status"
            placeholder="active/inactive/banned"
            :value="displayer.status"
          />
        </div>
      </div>
    </card>

    <base-button
      slot="footer"
      type="primary"
      fill
      @click="cancel()"
    >
      Cancel
    </base-button>
  </div>
</template>
<script>
export default {
    name: 'ShowSession',

    props: {
        player: {
            type: Object,
            default: () => ({}),
        },

        application: {
            type: Object,
            default: () => ({}),
        },

        displayer: {
            type: Object,
            default: () => ({}),
        },
    },

    // State
    data() {
        return {
            userShow: {
                username: 'this.user.username',
                role: 'this.user.role',
            },
        };
    },

    methods: {
        cancel() {
            this.$emit('cancel');
        },
    },
};
</script>
<style>
</style>
