<template>
  <card>
    <h5
      slot="header"
      class="title"
    >
      Create User
    </h5>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input
          id="username"
          v-model="user.username"
          label="Username"
          placeholder="Username"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input
          id="password"
          v-model="user.password"
          type="password"
          label="Password"
          placeholder="Password"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input
          id="confirmPassword"
          v-model="confirmPassword"
          type="password"
          label="Confirm Password"
          placeholder="Confirm password"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input
          id="role"
          v-model="user.role"
          label="Role"
          placeholder="admin/moderator/read-only"
        />
      </div>
    </div>

    <!--<div class="row">
      <div class="col-md-8 pm-md-1">
        <select>
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
</select>
      </div>
    </div>-->

    <base-button
      id="btnCreate"
      slot="footer"
      style="margin-right : 5px;"
      type="primary"
      fill
      @click="create()"
    >
      Create
    </base-button>
    <base-button
      slot="footer"
      type="primary"
      fill
      @click="cancel()"
    >
      Cancel
    </base-button>
  </card>
</template>
<script>
export default {
    name: 'CreateUser',

    data() {
        return {
            user: { username: '', password: '', role: '' },
            confirmPassword: '',
        };
    },

    methods: {
        create() {
            // Check if the values are not null
            if (
                this.user.username !== ''
                && this.user.password !== ''
                && this.confirmPassword !== ''
                && (this.user.role === 'admin' || this.user.role === 'moderator' || this.user.role === 'read-only')
            ) {
                if (this.user.password === this.confirmPassword) {
                    this.$emit('create', this.user);
                } else {
                    // eslint-disable-next-line no-alert
                    alert('Password must be the same');
                }
            } else {
                // eslint-disable-next-line no-alert
                alert('Field must not be null or incorrect');
            }
        },
        cancel() {
            this.$emit('cancel', this.user);
        },
    },
};
</script>
<style>
</style>
