<template>
  <card>
    <h5
      id="editUserDiv"
      slot="header"
      class="title"
    >
      Edit User
    </h5>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input
          id="username"
          v-model="userEdit.username"
          label="Username"
          placeholder="Username"
          disabled
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input
          id="password"
          v-model="userEdit.password"
          type="password"
          label="Password"
          placeholder="Password"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input
          id="confirmPassword"
          v-model="confirmPassword"
          type="password"
          label="Confirm Password"
          placeholder="Confirm Password"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input
          id="role"
          v-model="userEdit.role"
          label="Role"
          placeholder="admin/moderator/read-only"
        />
      </div>
    </div>

    <base-button
      slot="footer"
      style="margin-right : 5px;"
      type="primary"
      fill
      @click="update()"
    >
      Update
    </base-button>
    <base-button
      slot="footer"
      type="primary"
      fill
      @click="cancel()"
    >
      Cancel
    </base-button>
  </card>
</template>
<script>

export default {
    name: 'EditUser',

    props: {
        user: {
            type: Object,
            default: () => ({}),
        },
    },

    // State
    data() {
        return {
            userEdit: {
                username: this.user.username,
                password: '',
                role: this.user.role,
            },
            confirmPassword: '',
        };
    },

    methods: {
        update() {
            if (
                this.userEdit.username !== ''
        && (this.userEdit.password !== ''
        && this.userEdit.password !== ''
        && this.confirmPassword !== ''
        )
        && (this.userEdit.role === 'admin'
          || this.userEdit.role === 'moderator'
          || this.userEdit.role === 'read-only')
            ) {
                // console.log("CHILD");
                // console.log(this.userEdit);

                if (this.userEdit.password === this.confirmPassword) {
                    this.$emit('update', this.user, this.userEdit);
                } else {
                    // eslint-disable-next-line no-alert
                    alert('Password must be the same');
                }
            } else {
                // eslint-disable-next-line no-alert
                alert('Field must not be null or incorrect');
            }
        },
        cancel() {
            this.$emit('cancel');
        },
    },
};
</script>
<style>
</style>
