<template>
  <div>
    <!-- Dashboard for Users -->
    <div v-if="state=='RUN'">
      <!-- Global buttons -->
      <div id="rowTools">
        <span class="tools">
          <base-button
            id="addBtn"
            :disabled="!(this.$store.getters.getUser.role === 'admin')"
            class="tim-icons icon-simple-add"
            type="primary"
            fill
            @click="clickBtnAddUser()"
          />
        </span>
      </div>

      <!-- Table Users-->
      <div class="row">
        <div class="col-12">
          <card :title="tableUsers.title">
            <div class="table-responsive">
              <BaseTableUsers
                :data="tableUsers.data"
                :columns="tableUsers.columns"
                thead-classes="text-primary"
                @delete="deleteUser"
                @edit="clickBtnEditUser"
              />
            </div>
          </card>
        </div>
      </div>
    </div>

    <!-- Edit User -->
    <div v-else-if="state=='EDIT'">
      <EditUser
        :user="currentUser"
        @cancel="stateRun"
        @update="updateUser"
      />
    </div>

    <!-- Create User-->
    <div v-else-if="state=='CREATE'">
      <CreateUser
        @cancel="stateRun"
        @create="createUser"
      />
    </div>
  </div>
</template>

<script>
/* eslint-disable no-restricted-globals, no-alert, no-param-reassign */

import CreateUser from '@/pages/Users/CreateUser';
import EditUser from '@/pages/Users/EditUser';
import BaseTableUsers from '@/components/BaseTableUsers';
import userService from '@/helpers/user.services';

// Colums
const tableColumns = ['Role', 'Username'];

export default {
    name: 'Users',

    components: {
        CreateUser,
        EditUser,
        BaseTableUsers,
    },

    data() {
        return {
            state: 'RUN', // RUN - EDIT - CREATE
            currentUser: {},
            tableUsers: {
                title: 'Users',
                columns: [...tableColumns],
                data: [],
            },
        };
    },
    beforeMount() {
        this.loadElement();
    // console.log("USER : " + this.$store.getters.getUser.role);
    },

    methods: {

        // Change the state to RUN to show the user table
        stateRun() {
            this.state = 'RUN';
        },

        // Show the create page when the user click on the add btn
        clickBtnAddUser() {
            this.state = 'CREATE';
        },

        // Click edit button
        clickBtnEditUser(user) {
            this.state = 'EDIT';
            this.currentUser = user;
            this.currentOldUser = JSON.parse(JSON.stringify(user));
        },

        // The user click on button 'update' editmode
        updateUser(user, userEdit) {
            userService
                .patchUser(userEdit.username, userEdit.password, userEdit.role)
                .then((val) => {
                    if (val.status === 200) {
                        user.username = userEdit.username;
                        user.role = userEdit.role;
                    } else {
                        alert(`Status ${val.status}`);
                    }
                });

            this.state = 'RUN';
        },

        // Create the user
        createUser(user) {
            userService
                .postUser(user.username, user.password, user.role)
                .then((val) => {
                    if (val.status === 200) {
                        this.tableUsers.data.push(user);
                    } else {
                        alert(`Status ${val.status}`);
                    }
                });

            this.stateRun();
        },

        // Delete user
        deleteUser(user) {
            if (confirm(`Do you want to delete the user ${user.username}`)) {
                userService.deleteUser(user.username).then((val) => {
                    if (val.status === 200) {
                        const index = this.tableUsers.data.findIndex(
                            x => x.username === user.username,
                        );
                        this.tableUsers.data.splice(index, 1);
                    } else {
                        alert(`Status ${val.status}`);
                    }
                });
            } else {
                // Do nothing!
            }
        },

        loadElement() {
            userService
                .getUsers()
                .then(res => res.json())
                .then((val) => {
                    this.tableUsers.data = val;
                });
        },
    },
};
</script>
<style>
</style>
