<template>
  <card type="user">
    <p class="card-text" />
    <div class="author">
      <div class="block block-one" />
      <div class="block block-two" />
      <div class="block block-three" />
      <div class="block block-four" />
      <a href="#">
        <img
          class="avatar"
          src="img/anime6.png"
          alt="..."
        >
        <h5 class="title">{{ user.fullName }}</h5>
      </a>
      <p class="description">
        {{ user.title }}
      </p>
    </div>
    <p />
    <p class="card-description">
      {{ user.description }}
    </p>
    <div
      slot="footer"
      class="button-container"
    >
      <base-button
        icon
        round
        class="btn-facebook"
      >
        <i class="fab fa-facebook" />
      </base-button>
      <base-button
        icon
        round
        class="btn-twitter"
      >
        <i class="fab fa-twitter" />
      </base-button>
      <base-button
        icon
        round
        class="btn-google"
      >
        <i class="fab fa-google-plus" />
      </base-button>
    </div>
  </card>
</template>
<script>
export default {
    props: {
        user: {
            type: Object,
            default: () => ({}),
        },
    },
};
</script>
<style>
</style>
