<template>
  <div>
    <!--Dialog Edit value -->
    <md-dialog
      :md-active.sync="showDialogEdit"
      md-autogrow
    >
      <md-dialog-title>Description</md-dialog-title>

      <md-field>
        <label for="status">Status</label>
        <md-select
          id="status"
          v-model="status"
          name="status"
        >
          <md-option value="active">
            active
          </md-option>
          <md-option value="active">
            inactive
          </md-option>
          <md-option value="banned">
            banned
          </md-option>
        </md-select>
      </md-field>

      <md-dialog-actions>
        <md-button
          class="md-primary"
          @click="closeDialogEdit"
        >
          Close
        </md-button>
        <md-button
          class="md-primary"
          @click="updateApplication"
        >
          update
        </md-button>
      </md-dialog-actions>
    </md-dialog>

    <!--Dialog Message -->
    <md-dialog
      :md-active.sync="showDialog"
      md-autogrow
    >
      <md-dialog-title>
        Send a message for application : {{
          // eslint-disable-next-line vue/this-in-template
          this.currentApplication.name
        }}
      </md-dialog-title>

      <md-field>
        <label>Title</label>
        <md-input v-model="title" />
      </md-field>

      <md-field>
        <label>Content</label>
        <md-textarea
          v-model="content"
          md-autogrow
        />
      </md-field>

      <md-field>
        <label for="movie">Level</label>
        <md-select
          id="level"
          v-model="level"
          name="level"
        >
          <md-option value="info">
            info
          </md-option>
          <md-option value="warning">
            warning
          </md-option>
          <md-option value="error">
            error
          </md-option>
        </md-select>
      </md-field>

      <md-dialog-actions>
        <md-button
          class="md-primary"
          @click="closeDialog"
        >
          Close
        </md-button>
        <md-button
          class="md-primary"
          @click="sendMessage"
        >
          Send
        </md-button>
      </md-dialog-actions>
    </md-dialog>

    <!-- Dashboard for Users -->
    <div v-if="state=='RUN'">
      <!-- Global buttons
      <div id="rowTools">
        <span class="tools">
          <base-button
            @click="clickBtnAddApplication()"
            class="tim-icons icon-simple-add"
            type="primary"
            fill
          ></base-button>
        </span>
      </div>-->

      <!-- Table Applications-->
      <div class="row">
        <div class="col-12">
          <card :title="table1.title">
            <div class="table-responsive">
              <BaseTableApplications
                :data="table1.data"
                :columns="table1.columns"
                thead-classes="text-primary"
                @delete="deleteApplication"
                @edit="editApplication"
                @send="clickBtnsendMessageApplication"
              />
            </div>
          </card>
        </div>
      </div>
    </div>

    <!-- Edit Application -->
    <div v-else-if="state=='EDIT'">
      <EditApplication
        :application="currentApplication"
        @cancel="stateRun"
        @update="updateApplication()"
      />
    </div>

    <!-- Create User-->
    <div v-else-if="state=='CREATE'">
      <CreateApplication
        @cancel="stateRun"
        @create="createApplication"
      />
    </div>
  </div>
</template>

<script>
/* eslint-disable no-console */
import CreateApplication from '@/pages/Applications/CreateApplication';
import EditApplication from '@/pages/Applications/EditApplication';
import BaseTableApplications from '@/components/BaseTableApplications';
// eslint-disable-next-line no-unused-vars
import { BaseTable } from '@/components/BaseTable';
import userService from '@/helpers/user.services';

const tableColumns = ['Name', 'Status', 'Logo', 'Description'];

const tableData = [

    /* {
        id: 1,
        status: "active",
        name: "Drawing",
        version: "1.0"
    },
    {
        id: 2,
        status: "active",
        name: "TicTacToe",
        version: "1.2"
    } */
];

export default {
    components: {
        BaseTableApplications,
        EditApplication,
        CreateApplication,
    },

    data() {
        return {
            state: 'RUN', // RUN - EDIT - CREATE
            table1: {
                title: 'Applications',
                columns: [...tableColumns],
                data: [...tableData],
            },
            showDialog: false,
            showDialogEdit: false,
            title: '',
            content: '',
            level: '',
            currentApplication: {},
            status: '',
        };
    },
    beforeMount() {
        this.loadElement();
    },

    methods: {

        closeDialog() {
            this.showDialog = false;
            this.title = '';
            this.content = '';
            this.level = '';
        },

        closeDialogEdit() {
            this.showDialogEdit = false;
            this.status = '';
        },

        sendMessage() {
            if (this.title !== '' && this.content !== '' && this.level) {
                // eslint-disable-next-line no-console
                console.log(`SEND MESSAGES for one${this.currentApplication.name}`);

                userService
                    .postMessageApplication(
                        this.title,
                        this.content,
                        this.level,
                        this.currentApplication.name,
                    )
                    .then(val => console.log(val))
                    .catch(err => console.error(err));

                this.closeDialog();
            }
        },

        // Delete Application
        deleteApplication(application) {
            // eslint-disable-next-line no-restricted-globals, no-alert
            if (confirm(`Do you want to delete the application ${application.name}`)) {
                console.log('Parent - Delete');

                userService
                    .deleteApplication(application.name)
                    .then((val) => {
                        if (val.status === 204) {
                            console.log(val);
                            const index = this.table1.data.findIndex(x => x.id === application.id);
                            console.log(index);
                            this.table1.data.splice(index, 1);
                        }
                    }).catch(err => console.error(err));
            }
        },

        editApplication(application) {
            // console.log("Parent - Edit " + application.name);
            // this.state = "EDIT";
            this.currentApplication = application;
            this.showDialogEdit = true;
        },

        clickBtnsendMessageApplication(application) {
            this.showDialog = true;
            this.currentApplication = application;
            console.log(application.name);
        },

        stateRun() {
            this.state = 'RUN';
        },

        updateApplication() {
            // this.stateRun();
            this.currentApplication.status = this.status;
            this.closeDialogEdit();

            userService
                .patchApplication(
                    this.currentApplication.name,
                    this.currentApplication.status,
                )
                .then((val) => {
                    if (val.status === 204) {
                        console.log(val);
                    } else {
                        // eslint-disable-next-line no-alert
                        alert(`Status ${val.status}`);
                    }
                });
        },
        clickBtnAddApplication() {
            this.state = 'CREATE';
        },
        createApplication(application) {
            this.table1.data.push(application);
            this.stateRun();
        },

        loadElement() {
            userService
                .getApplications()
                .then(res => res.json())
                .then((val) => {
                    console.log(val);
                    this.table1.data = val;
                });
        },
    },
};
</script>

<style lang="scss" scoped>
.md-dialog {
  padding: 30px;
  max-width: 80%;
  min-width: 50%;
  max-height: 500px;
}
</style>
