<template>
  <card>
    <h5
      slot="header"
      class="title"
    >
      Create Application
    </h5>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input
          v-model="application.name"
          label="Name"
          placeholder="Name"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input
          v-model="application.description"
          label="description"
          placeholder="description"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input
          v-model="application.logo"
          label="logo"
          placeholder="logo"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input
          v-model="application.homepage"
          label="homepage"
          placeholder="homepage"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input
          v-model="application.authors"
          label="authors"
          placeholder="authors"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input
          v-model="application.version"
          label="version"
          placeholder="version"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input
          v-model="application.status"
          label="status"
          placeholder="active/inactive/banned"
        />
      </div>
    </div>

    <base-button
      slot="footer"
      style="margin-right : 5px;"
      type="primary"
      fill
      @click="create()"
    >
      Create
    </base-button>
    <base-button
      slot="footer"
      type="primary"
      fill
      @click="cancel()"
    >
      Cancel
    </base-button>
  </card>
</template>
<script>
export default {

    name: 'CreateApplication',

    data() {
        return {
            application: {
                id: '0', name: '', description: '', logo: '', homepage: '', authors: '', version: '', status: '',
            },
        };
    },

    methods: {

        create() {
            // console.log(this.user.username);
            // console.log(this.user.password);
            // console.log(this.user.role);

            if (this.application.name !== '' && this.application.description !== '' && this.application.status !== '') {
                this.$emit('create', this.application);
            }
        },

        cancel() {
            this.$emit('cancel', this.application);
        },
    },
};
</script>
<style>
</style>
