<template>
  <div>
    <div
      id="content-wrapper"
      class="d-flex flex-column"
    >
      <div id="content">
        <div class="container-fluid mt-4">
          <div class="align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800 text-white">
              BeeScreens - Play
            </h1>
            <p class="text-white">
              Choisis l'une des applications ci-dessous à jouer sur les grands écrans !
            </p>
          </div>
          <div
            v-if="applications.length > 0"
            class="row"
          >
            <div
              v-for="application in applications"
              :key="application.id"
              class="col-xl-3 col-md-6 mb-4"
            >
              <application-button :application="application" />
            </div>
          </div>
          <div
            v-else
          >
            <b-alert
              show
              variant="warning"
              class="text-center"
            >
              Aucune application n'est disponible, désolé !
            </b-alert>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ApplicationButton from '../components/ApplicationButton.vue';

export default {
    components: {
        ApplicationButton,
    },
    data() {
        return {
            applications: [],
        };
    },
    mounted() {
        fetch(`${this.$store.getters.serverUrl}/apps`)
            .then(res => res.json())
            .then((apps) => {
                apps.forEach((app) => {
                    if (app.status === 'active') {
                        this.applications.push(app);
                    }
                });
            });
    },
};
</script>

<style>
    body {
        background: #292e4c !important;
    }
</style>
