<template>
  <div>
    <notifications />
    <router-view :key="$route.fullPath" />
  </div>
</template>

<script>
export default {
    mounted() {
        this.$watch('$route', this.disableRTL, { immediate: true });
        this.$watch('$sidebar.showSidebar', this.toggleNavOpen);
    },
    methods: {
        disableRTL() {
            if (!this.$rtl.isRTL) {
                this.$rtl.disableRTL();
            }
        },
        toggleNavOpen() {
            const root = document.getElementsByTagName('html')[0];
            root.classList.toggle('nav-open');
        },
    },
};
</script>

<style lang="scss"></style>
