<template>
  <card>
    <h5
      id="playerDiv"
      slot="header"
      class="title"
    >
      Edit Player
    </h5>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input
          v-model="playerEdit.username"
          label="Username"
          placeholder="Username"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 pm-md-1">
        <base-input
          v-model="playerEdit.status"
          label="Status"
          placeholder="active/inactive/banned"
        />
      </div>
    </div>

    <base-button
      slot="footer"
      style="margin-right : 5px;"
      type="primary"
      fill
      @click="update()"
    >
      Update
    </base-button>
    <base-button
      slot="footer"
      type="primary"
      fill
      @click="cancel()"
    >
      Cancel
    </base-button>
  </card>
</template>
<script>
export default {
    name: 'EditPlayer',

    props: {
        player: {
            type: Object,
            default: () => ({}),
        },
    },

    // State
    data() {
        return {
            playerEdit: {
                username: this.player.username,
                status: this.player.status,
            },
        };
    },

    methods: {
        update() {
            if (
                this.playerEdit.status === 'active'
          || this.playerEdit.status === 'inactive'
          || this.playerEdit.status === 'banned') {
                this.$emit('update', this.playerEdit);
            } else {
                // eslint-disable-next-line no-alert
                alert('Status is not valid');
            }
        },
        cancel() {
            this.$emit('cancel');
        },
    },
};
</script>
<style>
</style>
