<template>
  <div>
    <!-- Message for everyone -->
    <md-dialog :md-active.sync="showDialog">
      <md-dialog-title>Send a message for everyone</md-dialog-title>

      <md-field>
        <label>Title</label>
        <md-input v-model="title" />
      </md-field>

      <md-field>
        <label>Content</label>
        <md-textarea
          v-model="content"
          md-autogrow
        />
      </md-field>

      <md-field>
        <label for="movie">Level</label>
        <md-select
          id="level"
          v-model="level"
          name="level"
        >
          <md-option value="info">
            info
          </md-option>
          <md-option value="warning">
            warning
          </md-option>
          <md-option value="error">
            error
          </md-option>
        </md-select>
      </md-field>

      <md-dialog-actions>
        <md-button
          class="md-primary"
          @click="closeDialogAll"
        >
          Close
        </md-button>
        <md-button
          class="md-primary"
          @click="sendMessagesAll"
        >
          Send
        </md-button>
      </md-dialog-actions>
    </md-dialog>

    <!-- Message for a player -->
    <md-dialog
      :md-active.sync="showDialogOneUser"
      md-autogrow
    >
      <md-dialog-title>Send a message for {{ currentPlayer.username }}</md-dialog-title>

      <md-field>
        <label>Title</label>
        <md-input v-model="title2" />
      </md-field>

      <md-field>
        <label>Content</label>
        <md-textarea
          v-model="content2"
          md-autogrow
        />
      </md-field>

      <md-field>
        <label for="movie">Level</label>
        <md-select
          id="level"
          v-model="level2"
          name="level"
        >
          <md-option value="info">
            info
          </md-option>
          <md-option value="warning">
            warning
          </md-option>
          <md-option value="error">
            error
          </md-option>
        </md-select>
      </md-field>

      <md-dialog-actions>
        <md-button
          class="md-primary"
          @click="closeDialogForOne"
        >
          Close
        </md-button>
        <md-button
          class="md-primary"
          @click="sendMessage"
        >
          Send
        </md-button>
      </md-dialog-actions>
    </md-dialog>

    <div v-if="state=='RUN'">
      <div id="rowTools">
        <base-button
          :disabled="!(this.$store.getters.getUser.role === 'admin')
            || (this.$store.getters.getUser.role === 'moderator')"
          class="tim-icons icon-chat-33"
          type="primary"
          fill
          @click="showDialog = true"
        />
      </div>

      <div class="row">
        <div class="col-12">
          <card :title="table1.title">
            <div class="table-responsive">
              <BaseTablePlayers
                :data="table1.data"
                :columns="table1.columns"
                thead-classes="text-primary"
                @message="clickBtnSendMessageForOnePlayer"
                @delete="deletePlayer"
                @edit="editPlayer"
              />
            </div>
          </card>
        </div>
      </div>
    </div>

    <!-- Edit User -->
    <div v-else-if="state=='EDIT'">
      <EditPlayer
        :player="currentPlayer"
        @cancel="stateRun"
        @update="updatePlayer"
      />
    </div>
  </div>
</template>

<script>
/*
  eslint-disable no-unused-vars,
  vue/no-unused-components,
  no-console,
  no-alert,
  no-restricted-globals
*/
import BaseTablePlayers from '@/components/BaseTablePlayers';
import { BaseTable } from '@/components/BaseTable';
import Modal from '@/components/Modal';
import NotificationTemplate from '@/pages/Notifications/NotificationTemplate';
import { BaseAlert } from '@/components';
import 'vue-material/dist/vue-material.min.css';
import userService from '@/helpers/user.services';
import EditPlayer from '@/pages/Players/EditPlayer';

const tableColumns = ['Username', 'Status'];

const tableData = [

    /* {
    username: "Doc",
    status: "active"
  },
  {
    username: "Marty",
    status: "active"
  } */

];

export default {
    components: {
        BaseTablePlayers,
        Modal,
        BaseAlert,
        NotificationTemplate,
        EditPlayer,
    },

    data() {
        return {
            table1: {
                title: 'Players',
                columns: [...tableColumns],
                data: [...tableData],
            },
            searchModalVisible: false,
            searchModalVisible2: false,
            searchQuery: '',
            type: ['', 'info', 'success', 'warning', 'danger'],
            notifications: {
                topCenter: false,
            },
            state: 'RUN', // RUN - EDIT

            currentPlayer: {},
            showDialog: false,
            showDialogOneUser: false,
            value: null,

            title: '',
            content: '',
            level: '',

            title2: '',
            content2: '',
            level2: '',
        };
    },
    beforeMount() {
        this.loadElement();
    },

    methods: {

        // Change the state to RUN to show the user table
        stateRun() {
            this.state = 'RUN';
        },

        closeDialogAll() {
            this.showDialog = false;
            this.title = '';
            this.content = '';
            this.level = '';
        },
        closeDialogForOne() {
            this.showDialogOneUser = false;
            this.title2 = '';
            this.content2 = '';
            this.level2 = '';
        },
        clickBtnSendMessageForOnePlayer(item) {
            console.log(`SEND MESSAGE TO ${item.username}`);
            this.currentPlayer = item;
            this.showDialogOneUser = true;
        },
        editPlayer(item) {
            console.log(item.username);
            this.state = 'EDIT';
            this.currentPlayer = item;
        },
        deletePlayer(item) {
            if (confirm(`Do you want to delete the player ${item.username}`)) {
                console.log(`DELETE PLAYER ${item.username}`);
                const index = this.table1.data.findIndex(x => x.username === item.username);
                console.log(index);
                this.table1.data.splice(index, 1);

                userService
                    .deletePlayer(item.username)
                    .then(val => console.log(val))
                    .catch(err => console.error(err));
            }
        },
        sendMessagesAll() {
            console.log(this.title);
            console.log(this.content);
            console.log(this.level);

            if (this.title !== '' && this.content !== '' && this.level) {
                console.log('SEND MESSAGES');

                userService
                    .postMessage(this.title, this.content, this.level)
                    .then(val => console.log(val))
                    .catch(err => console.error(err));

                this.closeDialogAll();
            }
        },
        sendMessage() {
            console.log(this.title2);
            console.log(this.content2);
            console.log(this.level2);

            if (this.title2 !== '' && this.content2 !== '' && this.level2) {
                console.log('SEND MESSAGES for one');

                userService
                    .postMessagePlayer(
                        this.title2,
                        this.content2,
                        this.level2,
                        this.currentPlayer.username,
                    )
                    .then(val => console.log(val))
                    .catch(err => console.error(err));

                this.closeDialogForOne();
            }
        },

        updatePlayer(playerEdit) {
            // this.currentPlayer = playerEdit;

            userService
                .patchPlayer(playerEdit.username, playerEdit.status)
                .then((val) => {
                    console.log(val);
                    alert(`Status ${val.status}`);
                });

            this.state = 'RUN';
        },


        loadElement() {
            userService
                .getPlayers()
                .then(res => res.json())
                .then((val) => {
                    console.log(val);
                    this.tableData = val;
                });
        },
    },
};
</script>

<style lang="scss" scoped>
.md-dialog {
  padding: 30px;
  max-width: 80%;
  min-width: 50%;
  max-height: 500px;
}
</style>
