<template>
  <div class="containerLogin modeLogin">
    <div>
      <div class="login-popup-heading text-center">
        <h4>
          <i
            class="fa fa-lock black"
            aria-hidden="true"
          /> Login
        </h4>
      </div>

      <form
        role="form"
        action=""
        @submit.prevent="login"
      >
        <div class="form-group">
          <input
            id="username"
            v-model="username"
            type="text"
            class="form-control"
            placeholder="Username"
            name="username"
          >
        </div>
        <div class="form-group">
          <input
            id="password"
            v-model="password"
            type="password"
            class="form-control"
            placeholder="Password"
            name="password"
          >
        </div>
        <button
          type="submit"
          class="btn btn-default login-popup-btn"
          name="submit"
          value="1"
        >
          Login
        </button>
      </form>
    </div>
  </div>
</template>

<script>
import userService from '../helpers/user.services';

export default {
    name: 'Login',
    data() {
        return {
            username: '',
            password: '',
        };
    },
    methods: {

        login() {
            // localStorage.clear();

            // The username and the password must not be null
            if (this.username !== '' && this.password !== '') {
                userService.login(this.username, this.password).then(() => {
                    // Save the username and the role with vuex-persist-state
                    userService.getUser(this.username)
                        .then(res => res.json())
                        .then((val) => {
                            this.$store.commit('setUser', val);
                        });

                    // Go to the dashboard
                    this.$router.push('/home');
                }).catch((err) => {
                    // eslint-disable-next-line no-alert
                    alert(`Status ${err.status}`);
                });
            } else {
                // eslint-disable-next-line no-alert
                alert('The username and the password must not be null');
            }
        },
    },
};
</script>

<style>
</style>
