<template>
  <!-- eslint-disable vue/no-use-v-if-with-v-for, no-console -->
  <table
    class="table tablesorter"
    :class="tableClass"
  >
    <thead :class="theadClasses">
      <tr>
        <slot name="columns">
          <th
            v-for="column in columns"
            :key="column"
          >
            {{ column }}
          </th>
          <th>Actions</th>
        </slot>
      </tr>
    </thead>
    <tbody :class="tbodyClasses">
      <tr
        v-for="(item, rowIndex) in data"
        :key="rowIndex"
      >
        <slot :row="item">
          <td
            v-for="(column, colIndex) in columns"
            v-if="hasValue(item, column)"
            :key="colIndex"
          >
            {{ itemValue(item, column) }}
          </td>
          <td>
            <base-button
              style="margin : 5px;"
              size="sm"
              class="tim-icons  icon-zoom-split"
              type="primary"
              fill
              @click="showQueue(item)"
            />
            <base-button
              style="margin : 5px;"
              size="sm"
              class="tim-icons  icon-pencil"
              type="primary"
              fill
              @click="editQueue(item)"
            />
            <base-button
              style="margin : 5px;"
              size="sm"
              class="tim-icons  icon-trash-simple"
              type="primary"
              fill
              @click="deleteQueue(item)"
            />
          </td>
        </slot>
      </tr>
    </tbody>
  </table>
</template>
<script>
export default {
    name: 'BaseTableUser',
    props: {
        columns: {
            type: Array,
            default: () => [],
            description: 'Table columns',
        },
        data: {
            type: Array,
            default: () => [],
            description: 'Table data',
        },
        type: {
            type: String, // striped | hover
            default: '',
            description: 'Whether table is striped or hover type',
        },
        theadClasses: {
            type: String,
            default: '',
            description: '<thead> css classes',
        },
        tbodyClasses: {
            type: String,
            default: '',
            description: '<tbody> css classes',
        },
    },
    computed: {
        tableClass() {
            return this.type && `table-${this.type}`;
        },
    },
    methods: {
        hasValue(item, column) {
            return item[column.toLowerCase()] !== 'undefined';
        },
        itemValue(item, column) {
            return item[column.toLowerCase()];
        },

        editQueue(item) {
            this.$emit('edit', item);
        },
        showQueue(item) {
            this.$emit('show', item);
        },

        deleteQueue(item) {
            this.$emit('delete', item);
        },
    },
};
</script>
<style>

body{
    overflow-x:hidden;
}

</style>
