<template>
  <!-- eslint-disable vue/no-use-v-if-with-v-for, no-console -->
  <table
    class="table tablesorter"
    :class="tableClass"
  >
    <thead :class="theadClasses">
      <tr>
        <slot name="columns">
          <th
            v-for="column in columns"
            :key="column"
          >
            {{ column }}
          </th>
          <th>Actions</th>
        </slot>
      </tr>
    </thead>
    <tbody :class="tbodyClasses">
      <tr
        v-for="(item, colIndex) in data"
        :key="colIndex"
      >
        <slot :row="item">
          <td
            v-for="(column, rowIndex) in columns"
            v-if="hasValue(item, column)"
            :key="rowIndex"
          >
            {{ itemValue(item, column) }}
          </td>
          <td>
            <base-button
              :disabled="!(role === 'admin' || role === 'moderator' )"
              style="margin : 5px;"
              size="sm"
              class="tim-icons icon-pencil"
              type="primary"
              fill
              @click="editOption(item)"
            />
          </td>
        </slot>
      </tr>
    </tbody>
  </table>
</template>
<script>
export default {
    name: 'BaseTableUser',

    props: {
        columns: {
            type: Array,
            default: () => [],
            description: 'Table columns',
        },
        data: {
            type: Array,
            default: () => [],
            description: 'Table data',
        },
        type: {
            type: String, // striped | hover
            default: '',
            description: 'Whether table is striped or hover type',
        },
        theadClasses: {
            type: String,
            default: '',
            description: '<thead> css classes',
        },
        tbodyClasses: {
            type: String,
            default: '',
            description: '<tbody> css classes',
        },
    },

    data() {
        return {
            role: this.$store.getters.getUser.role,
        };
    },
    computed: {
        tableClass() {
            return this.type && `table-${this.type}`;
        },
    },
    beforeMount() {
        // console.log("OPTION_TABLE : " + this.$store.getters.getUser.role);
    },
    methods: {
        hasValue(item, column) {
            return item[column.toLowerCase()] !== 'undefined';
        },
        itemValue(item, column) {
            return item[column.toLowerCase()];
        },

        editOption(item) {
            this.$emit('edit', item);
        },
        showOption(item) {
            this.$emit('show', item);
        },
    },
};
</script>
<style>
body {
  overflow-x: hidden;
}
</style>
