<template>
  <!-- eslint-disable vue/no-use-v-if-with-v-for, no-console -->
  <table
    class="table tablesorter"
    :class="tableClass"
  >
    <thead :class="theadClasses">
      <tr>
        <slot name="columns">
          <th
            v-for="column in columns"
            :key="column"
          >
            {{ column }}
          </th>
          <th>Actions</th>
        </slot>
      </tr>
    </thead>
    <tbody :class="tbodyClasses">
      <tr
        v-for="(item, rowIndex) in data"
        :key="rowIndex"
      >
        <slot :row="item">
          <td
            v-for="(column, colIndex) in columns"
            v-if="hasValue(item, column)"
            :key="colIndex"
          >
            {{ itemValue(item, column) }}
          </td>
          <td>
            <base-button
              :id="'btn'+item.username"
              :disabled="!(role === 'admin') "
              :name="'btn'+item.username"
              style="margin : 5px;"
              size="sm"
              class="tim-icons  icon-pencil"
              type="primary"
              fill
              @click="editItem(item)"
            />
            <base-button
              :id="'btnDelete'+item.username"
              :disabled="!(role === 'admin') "
              style="margin : 5px;"
              size="sm"
              class="tim-icons  icon-trash-simple"
              type="primary"
              fill
              @click="deleteItem(item)"
            />
          </td>
        </slot>
      </tr>
    </tbody>
  </table>
</template>
<script>
export default {

    name: 'BaseTableUsers',

    props: {
        columns: {
            type: Array,
            default: () => [],
            description: 'Table columns',
        },
        data: {
            type: Array,
            default: () => [],
            description: 'Table data',
        },
        type: {
            type: String, // striped | hover
            default: '',
            description: 'Whether table is striped or hover type',
        },
        theadClasses: {
            type: String,
            default: '',
            description: '<thead> css classes',
        },
        tbodyClasses: {
            type: String,
            default: '',
            description: '<tbody> css classes',
        },
        /* role: {
            type: String,
            default: "",
            description: "Role of current user"
        }, */
    },

    data() {
        return {
            role: this.$store.getters.getUser.role,
        };
    },
    computed: {
        tableClass() {
            return this.type && `table-${this.type}`;
        },
    },

    beforeMount() {
        // console.log("USERTABLE : " + this.$store.getters.getUser.role);
    },
    methods: {
        hasValue(item, column) {
            return item[column.toLowerCase()] !== 'undefined';
        },
        itemValue(item, column) {
            return item[column.toLowerCase()];
        },
        editItem(item) {
            this.$emit('edit', item);
        },
        deleteItem(item) {
            this.$emit('delete', item);
        },
    },
};
</script>
<style>
</style>
